@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
}
img {
    max-width: 100%;
}

.large-height {
    min-height: 80vh;
}
.hero {
    min-height: calc(100vh - 63px);
}
.btn-cta {
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
}
.btn-color{
    background-color: white;
    color:#329BFF;
}
p {
    color: darkgray;    
}
.h-color{
    color:#329BFF;
}
.h4-color{
    color:#329BFF;
}
/* .section2{
    padding-left: 120px;
} */
.header{
    text-align: center;
    
    
}

.icon {
    
    height: 65px;
    
}

ul li{
    list-style: none;
    padding-top: 8px;
}
.f-section{
    background-image: url('/img/footer.png');
}
.img-top {
    width: 200px;
}
